<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>숙소리스트</title>
<link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>



	<section class="fullwidth_block padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
		<div class="container">
			<div class="row slick_carousel_slider">
				<div class="col-md-12">
					<h3 class="headline_part centered margin-bottom-45">
						Most Visited Places <span>Explore the greates places in the
							city</span>
					</h3>
				</div>
				
				
				<div class="row">
					<div class="col-md-12" th:each="sukso : ${sukso}">
						<div class="simple_slick_carousel_block utf_dots_nav">
							<div class="utf_carousel_item">
								<a th:href="@{/sukso/read(num=${sukso.suk_num})}"
									class="utf_listing_item-container compact">
									<div class="utf_listing_item">
										<img th:src="@{/sukso/download(num=${sukso.suk_num})}" alt=""> <span
											class="tag"><i class="im im-icon-Chef-Hat"></i>
											Restaurant</span> <span class="featured_tag">Featured</span> <span
											class="utf_open_now">Open Now</span>
										<div class="utf_listing_item_content">
											<div class="utf_listing_prige_block">
												<span class="utf_meta_listing_price"><i
													class="fa fa-tag"></i> $25 - $55</span> <span
													class="utp_approve_item"><i
													class="utf_approve_listing"></i></span>
											</div>
											<h3>Chontaduro Barcelona</h3>
											<span><i class="fa fa-map-marker"></i> The
												Ritz-Carlton, Hong Kong</span> <span><i class="fa fa-phone"></i>
												(+15) 124-796-3633</span>
										</div>
									</div>
									<div class="utf_star_rating_section" data-rating="4.5">
										<div class="utf_counter_star_rating">(4.5)</div>
										<span class="utf_view_count"><i class="fa fa-eye"></i>
											822+</span> <span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		
		
		<script src="scripts/jquery-3.4.1.min.js"></script> 
<script src="scripts/chosen.min.js"></script> 
<script src="scripts/slick.min.js"></script> 
<script src="scripts/rangeslider.min.js"></script> 
<script src="scripts/magnific-popup.min.js"></script> 
<script src="scripts/jquery-ui.min.js"></script> 
<script src="scripts/bootstrap-select.min.js"></script> 
<script src="scripts/mmenu.js"></script>
<script src="scripts/tooltips.min.js"></script> 
<script src="scripts/color_switcher.js"></script>
<script src="scripts/jquery_custom.js"></script>
<script src="scripts/typed.js"></script>
<script>
var typed = new Typed('.typed-words', {
strings: ["Attractions"," Restaurants"," Hotels"],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script>
		
</body>
</html>