<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[판매 정보 게시판]</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>
<h1>[ 게시판 ]</h1>

<table>
		<tr>
			<th>번호</th>
			<th style="width:300px;">제목</th>
			<th>작성자</th>
		</tr>
		<tr th:each="deny : ${denylist}">
			<td th:text="${deny.deny_num}"></td>
            <td><a th:text="${deny.deny_title}" th:href="@{/deny/read(num=${deny.deny_num})}"></a></td>
			<td th:text="${deny.mem_id}"></td>
		</tr>
	</table>



</body>
</html>